{% extends 'shop/base.html' %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<div class="container">
    <div style="margin-top:30px; margin-bottom:30px">
            <h1>订单编辑</h1>
    </div>
     
    <div class="order-info">
        <h3>订单列表</h3>
        <ul>
            {% for item in items %}
            <li>
                {{item.item.name}}*{{item.item_quantity}}
            </li>
            {% endfor %}
        </ul>
        <p>Total:${{total_price}}</p>
    </div>
    <form action="." method='post' class="order-form">
        {{form.as_p}}
        <p><input type="submit" value="提交订单" style="margin-top:20px"></p>
        {% csrf_token %}
    </form>
    <div class="clearfix"></div>
</div>
{% endblock %}