{% extends "shop/base.html" %}
{% block title %}
    Profile of {{username}}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- <h3>Hello, {{user.username}}</h3> -->
        <div  style="margin:0px auto;width:500px; ">   
            <h2>个人信息</h2>
            
        </div>
        
        <div class="detail" style="margin:30px auto; width:500px; ">
            <table class="table-bordered" style="margin-bottom:20px ">
                <tr>
                    <td>
                         Image:
                    </td>
                    <td>
                        <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% endif %}">
                    </td>
                </tr>
                <tr>
                    <td>
                         Username:
                    </td>
                    <td>
                        {{user.username}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sex:
                    </td>
                    <td>
                        {{user.profile.sex}}
                    </td>
                </tr>
                <tr>
                    <td>
                        E-mail: 
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        {{user.profile.phone}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        {{user.profile.address}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Postal_code:
                    </td>
                    <td>
                        {{user.profile.postal_code}}
                    </td>
                </tr>
                <tr>
                    <td>
                        City:
                    </td>
                    <td>
                        {{user.profile.city}}
                    </td>
                </tr>
            </table>
            <!-- <ul>
                <li>Username: {{user.username}}</li>
                <li>Sex:{{user.profile.sex}}</li>
                <li>E-mail: {{user.email}}</li>
                <li>Phone:{{user.profile.phone}}</li>
                <li>Address:{{user.profile.address}}</li>
                <li>Postal_code:{{user.profile.postal_code}}</li>
                <li>City:{{user.profile.city}}</li>
            </ul> -->
            <form action="{% url 'account:changeprofile' %}" method="GET">
                <input type="submit" value="完善个人信息">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    
{% endblock %}