{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<!-- <div class="header-bottom">
	<div class="container">
		<div class="h_menu4">
			<a class="toggleMenu" href="#">Menu</a>
			<ul class="nav">
                <li {% if not category %}{% endif %} style="padding-top:1.5em">
                    <a href="{% url "shop:product_list" %}">All</a>
                    <ul class="drop">
                        {% for c in categories %}
                            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>        
                </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %}{% endif %} style="padding-top:1.5em">
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    <ul class="drop">
                        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                    </ul>
                </li>
                {% endfor %}
					
			</ul>
			<script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
		</div>
	</div>
</div> -->


    <div class="container">
            <div class="products">
                    <h2 class=" products-in">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h2>
                    <!-- <div class=" top-products"> -->
                    {% for product in products %}
                    <div class="col-md-3 md-col">
                        <div class="col-md">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a>	
                            <div class="top-content">
                                <h5><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                                <div class="white">
                                    <a href="Detail.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
                                    <p class="dollar"><span class="in-dollar">$</span><span>{{ product.price }}</span></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>							
                        </div>
                    </div>
                    {% endfor %}
                        <!--<div class="clearfix"></div>
                    </div> -->
                    <div class="clearfix"></div>
            </div>
    </div>     
{% endblock %}