{% extends "shop/base.html" %}
{% load static %}
{% block title %}Your shopping cart{% endblock %}

{% block content %}

{% if error %}
<h1>Your shopping cart</h1>
<p style="color: red">Please choose some products.</p>
{% endif %}

<!-- 
<div class="container"> -->
    <h1>Your shopping cart</h1>
    <form method="GET" action="{% url 'cart:checkout' %}">
        {% csrf_token %}
        <table class="cart">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll" name="checkAll"></th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Price</th>              
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% with product=item.item %}
                <tr>
                    <td>
                        <input type="checkbox" name="checkbox" id="checkbox" value="{{item.id}}">
                    </td>
                    <td>
                        <a href="{{product.get_absolute_url}}">
                            <img src="{% if product.image %}{{product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                        </a>
                    </td>
                    <td>{{product.name}}</td>
                    <td>
                        <p class="item-quantity">{{item.item_quantity}}</p>
                        <div><br></div>
                        <div>
                            <input type="text" name="quantity" class="quantity-field" value="{{item.item_quantity}}" style="width:40px">
                            <input type="button" class="quantity-verify" value="更改">
                        </div>
                    </td>
                    <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
                    <td class="num unit-price">${{product.price}}</td>
                    <td class="num unit-total-price">${{item.get_price}}</td>
                </tr>
                {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="5"></td>
                    <td class="num total-price">${{cart.get_total_price}}</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Checkout">
    </form>
    <p class="text-right">
            <a href="{% url 'shop:product_list' %}" class="button light">Continue shopping</a>
    </p>
<!--     <div class="clearfix"></div> -->
<!-- </div> -->

<script type="text/javascript">
    $(function(){
        function initTableCheckbox(){
            var $thr=$('table thead tr');
            var $tbr=$('table tbody tr');
            var $checkAllTh=$('<th><input type="checkbox" id="checkAll" name="checkAll"></th>');
            var $checkAll=$thr.find('input');

            // 全部选择或者全部不选择
            $checkAll.click(function(event){
                //所有项的“是否选中”状态设置为“checkAll”的“是否选中”状态
                $tbr.find('input').prop('checked',$(this).prop('checked'));
                //阻止向上冒泡，防止再次促发点击操作   这里还需要再看一下
                event.stopPropagation();
            });
            // //点击全选框所在单元格时也触发全选框的点击操作
            // $checkAllTh.click(function(){
            //     $(this).find('input').click();

            // });

            $tbr.find('input').click(function(event){
                $checkAll.prop('checked',$tbr.find('input:checked').length==($tbr.length-1)?true:false);
                event.stopPropagation();
            });

        }
        function changeUnitTotalPrice(i){
            var itemQuantity=$('.item-quantity');
            var unitPrice=$('.unit-price');
            var num=unitPrice[i].innerHTML.substring(1);
            return (parseFloat(itemQuantity[i].innerHTML)*parseFloat(num)).toFixed(2);

        }
        function changeQuantity(){
            var itemQuantity=$('.item-quantity');
            var quantityField=$('.quantity-field');
            var quantityVerify=$('.quantity-verify');
            var unitTotalPrice=$('.unit-total-price');
            for(var i=0;i<quantityVerify.length;i++){
                    quantityVerify[i].onclick=function(i){
                        return function(){
                            if(quantityField[i].value){
                                itemQuantity[i].innerHTML=quantityField[i].value;
                                unitTotalPrice[i].innerHTML='$'+changeUnitTotalPrice(i);
                                var total=0;
                                for(var j=0;j<quantityVerify.length;j++){
                                    total+=parseFloat(changeUnitTotalPrice(j)); 
                                }
                                $('.total-price')[0].innerHTML='$'+total.toFixed(2);
                            }
                        };

                    }(i);
            }
        }
        initTableCheckbox();
        changeQuantity();
        


    });
</script>    
{% endblock %}

