{% extends "shop/base.html" %}
{% load static %}
{% block title %}Your shopping cart{% endblock %}

{% block content %}

{% if error %}
<h1>Your shopping cart</h1>
<p style="color: red">Please choose some products.</p>
{% endif %}


<!-- 
<div class="container"> -->
    

<div class="container">
    <h1>Your shopping cart</h1>
    <form method="GET" action="{% url 'cart:checkout' %}">
        {% csrf_token %}
        <table  style="width:100%; margin-bottom:20px">
            <thead >
                <tr>
                    <th><input type="checkbox" id="checkAll" name="checkAll"></th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Price</th>              
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% with product=item.item %}
                <tr>
                    <td>
                        <input type="checkbox" name="checkbox" id="checkbox" value="{{item.id}}" class="is-checked">
                    </td>
                    <td>
                        <a href="{{product.get_absolute_url}}">
                            <img style="width:180px "src="{% if product.image %}{{product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                        </a>
                    </td>
                    <td>{{product.name}}</td>
                    <td>
                        <p class="item-quantity">{{item.item_quantity}}</p>
                        <div><br></div>
                        <div>
                            <input type="text" name="quantity" class="quantity-field" value="{{item.item_quantity}}" style="width:40px">
                            <input type="button" class="quantity-verify" value="更改">
                        </div>
                    </td>
                    <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
                    <td class="num unit-price">${{product.price}}</td>
                    <td class="num unit-total-price">${{item.get_price}}</td>
                </tr>
                {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="5"></td>
                    <td class="num total-price">$0.00</td>
                </tr>
            </tbody>
        </table> 
        <p class="text-right">
            <input type="submit" value="提交订单" style="width:100px">
            <a href="{% url 'shop:product_list' %}" class="button light">继续购物</a>
        </p>
        
    </form>
<!--     <div class="clearfix"></div> -->
<!-- </div> -->

        <!-- <p class="text-right">
            <a href="{% url 'shop:product_list' %}" class="button light">继续购物</a>
        </p> -->
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $(function(){
        //checkbox状态
        function initTableCheckbox(){
            var $thr=$('table thead tr');
            var $tbr=$('table tbody tr');
            var $checkAllTh=$('<th><input type="checkbox" id="checkAll" name="checkAll"></th>');
            var $checkAll=$thr.find('input');

            // 全部选择或者全部不选择
            $checkAll.click(function(event){
                //所有项的“是否选中”状态设置为“checkAll”的“是否选中”状态
                $tbr.find('input').prop('checked',$(this).prop('checked'));
                //阻止向上冒泡，防止再次促发点击操作   这里还需要再看一下
                event.stopPropagation();
            });

            //点击每个商品的checkbox时
            $tbr.find('input').click(function(event){
                //确定checkAll的状态
                $checkAll.prop('checked',$tbr.find('input:checked').length==($tbr.length-1)?true:false);
                //防止事件冒泡
                event.stopPropagation();
                changeTotalPrice();
                
            });

        }
        //改变每个商品的总价格
        function changeUnitTotalPrice(i){
            var itemQuantity=$('.item-quantity');
            var unitPrice=$('.unit-price');
            var num=unitPrice[i].innerHTML.substring(1);
            return (parseFloat(itemQuantity[i].innerHTML)*parseFloat(num)).toFixed(2);

        }
        //改变总价格
        function changeTotalPrice(){
            var checkboxs=$('.is-checked');
            var unitTotalPrice=$('.unit-total-price');
            var total=0;
            for(var j=0;j<checkboxs.length;j++){
                if(checkboxs[j].checked){
                    var num=unitTotalPrice[j].innerHTML.substring(1);
                    total+=parseFloat(num);
                }  
            }
            $('.total-price')[0].innerHTML='$'+total.toFixed(2);

        }
        //改变数量
        function changeQuantity(){
            var itemQuantity=$('.item-quantity');
            var quantityField=$('.quantity-field');
            var quantityVerify=$('.quantity-verify');
            var unitTotalPrice=$('.unit-total-price');
            var checkboxs=$('.is-checked');
            for(var i=0;i<quantityVerify.length;i++){
                    quantityVerify[i].onclick=function(i){
                        return function(){
                            if(quantityField[i].value){
                                itemQuantity[i].innerHTML=quantityField[i].value;
                                unitTotalPrice[i].innerHTML='$'+changeUnitTotalPrice(i);
                            }
                        };

                    }(i);
            }
        }
        function ajaxChangeQuantity(){
            var itemQuantity=$('.item-quantity');
            var quantityField=$('.quantity-field');
            var quantityVerify=$('.quantity-verify');
            var checkboxs=$('.is-checked');
            for(var i=0;i<quantityVerify.length;i++){
                quantityVerify[i].onclick=function(i){
                    alert(checkboxs[i].value);

                    // return function(){
                    //     var xmlhttp=null;
                    //     if(window.ActiveXObject){
                    //         xmlhttp=ActiveXObject("Microsoft.XMLHTTP");
                    //     }else if(window.XMLHttpRequest){
                    //         xmlhttp=new XMLHttpRequest();
                    //     }
                    //     if(null!=xmlhttp){

                    //     }
                    // };

                }(i);

            }

        }
        initTableCheckbox();
        changeQuantity();
        ajaxChangeQuantity();


    });
</script>    
{% endblock %}

