{% extends 'shop/base.html' %}

{% block title %}
Your orders
{% endblock %}

{% block content %}
    <ul>
        {% for order in orders %}
        {% if order.paid %}
            <li>
                <a href="{{order.get_absolute_url}}">order{{order.id}}</a>
                <br>
                {{order.paid}}
                {{order.last_name}}
                <br>
                {% if order.verified %}
                    <p>The order has been verified</p>
                {% else %}
                    <a href="{% url 'orders:verify' order.id %}">Verifiy the order</a>
                {% endif %}

                <br>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
